
@media (min-width: 480px){ 
  
  body {
  max-width: 480px;
  margin: auto;
  margin-top: .5em;
  }

  
  #a {
    width: 76.5vw;
    height: 8vh;  
  }

  #b {
    width:76.5vw;
    height:10vh;
  }
  
  .efgh{
    width:38.25vw;  
    height: 12.2vh;
  }
  .ef-section{
    display: flex;
    max-width: 480px;
    flex-wrap: nowrap;
    justify-items: center;
    
  }
  .gh-section{
    display: flex;
    max-width: 480px;
    flex-wrap: nowrap;
    justify-items: center;
    
  }
  .cd {
    width:76.5vw;;
    height:9.6em;
  }

 
  #i{
    /* border: 10px solid slateblue; */
    max-width: 480px;
    width: 76.5vw;
    height: 8vh;
  }
          
  
}

